/* Primary text color - #212121 */
/* Secondary text color - #757575 */
/* background color - #E5E5E5; */
/* hover color primary - #FFFFFF */
/* hover color secondary - #2196F3 */

:root {
  --Primary-text-color: #212121;
}
:root {
  --secondary-text-color: #757575;
}
:root {
  --hover-text-color: #ffffff;
}
:root {
  --hover-background-color: #2196f3;
}

li {
  list-style-type: none;
}

body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: font-family: 'Roboto', sans-serif;;
}

.header-contacts:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.header-contacts:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.project-title {
  color: #212121;
}

.project-title-disc {
  color: #757575;
}

.nav-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.nav-button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.project-link:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.project-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.footer-contacts:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.footer-contacts:hover {
  color: #ffffff;
  background-color: #2196f3;
}
