/* Primary text color - #212121 */
/* Secondary text color - #757575 */
/* background color - #E5E5E5; */
/* hover color primary - #FFFFFF */
/* hover color secondary - #2196F3 */


/* Общее */
:root {
  --Primary-text-color: #212121;
  --hover-background-color: #2196f3;
  --hover-text-color: #ffffff;
  --secondary-text-color: #757575;
}

.list {
  list-style-type: none;
}

body {
  background-color: #e5e5e5;
  color: var(--Primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* Header */

.header-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color)
}

button {
  cursor: pointer;
}



.link:active {
  color: var(--hover-background-color);
}

li p {
  color: var(--secondary-text-color);
}

.nav-button:focus,
.nav-button:hover {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
}

.project-link:hover,
.project-link:focus {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
}

footer .contacts:hover,
footer .contacts:focus {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color)
}
